**/terraform.tfvars
**/ssh_config
**/reference
**/DONTDELETE
**/assets/target
.terraform/
*_override.tf
testing*.json
ssh_key_for*.pem
ssh_config
**/role.json
output.json
tmp.log
**/venv
**/.terraform.lock.hcl
**/__pycache__
verify.log
**/data_external.log