pytest
yamlpath
testcontainers
testcontainers[postgres]
cryptography                    # To suppress pytest warnings

# Requests 2.32.1+ causes "Not supported URL scheme http+docker" with docker-py / testcontainers.
requests==2.31.0
